:root {
    --main-bg-colour: #9f8363;/* old */
    --main-bg-colour: rgba(122, 145, 146);
    --content-bg-colour: rgba(69, 54, 47, 35%);
    --header-txt-colour: #e4b9a8;/* old */
    --header-txt-colour: black;
    --header-txt-shadow: rgb(161, 31, 140); /* old */
    --header-txt-shadow: rgba(0, 0, 0, 30%); 
    --nav-colour: rgba(244, 229, 213, 80%);
    --nav-select-colour: cadetblue;
    --text-bg-colour: rgba(244, 229, 213, 80%);
    --footer-colour: rgb(100, 120, 121);
}

body {
    /* background-image: url('https://images.unsplash.com/photo-1428515613728-6b4607e44363?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80');
    background-attachment: fixed; */
    background-color: var(--main-bg-colour);
}

#content {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
}

header, main {
    grid-column: 2 / -2;
    background-color: var(--content-bg-colour);
    padding-bottom: 15px;
}

/* --------HEADER-------- */
h1 {
    display: flex;
    justify-content: center;

    font-family: 'Fuggles', cursive;
    font-size: 200px;
    color: var(--header-txt-colour);
    text-shadow: 0px 0px 9px var(--header-txt-shadow);
    user-select: none;
}

nav {
    display: block;    
}

nav ul {
position: sticky;
    top: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3rem;
}

nav ul li {
    /* border: 1px red solid; */
    background-color: var(--nav-colour);
    display: flex;
    flex-grow: 1;
    height: 3rem;

    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}

nav ul > li:first-child {
    border-radius: 4px 0px 0px 4px;
}

nav ul > li:last-child {
    border-radius: 0px 4px 4px 0px;
}

nav ul li:hover {
    background-color: var(--nav-select-colour);
}

.navItem.selected {
    background-color: cadetblue;
    opacity: 0.6;
}

/* --------MAIN-------- */

h2 {
    display: flex;
    justify-content: center;
    margin: 20px 0px;

    font-size: 40px;
    color: var(--header-txt-colour);
    text-shadow: 0px 0px 9px var(--header-txt-shadow);
    user-select: none;
}

/* --------MAIN:about-------- */

main {
    /* display: none; */
}

#aboutSection {
    /* background-color: rgba(244, 229, 213, 80%); */
    display: grid;
    row-gap: 15px;
    grid-template-areas: 
        'title      title'
        'sub1       blurb1'
        'image1     image1'
        'blurb2     sub2'
        'image2     image2'
        'sub3       blurb3'
        'image3     image3';

}

#aboutSection h2 {
    grid-area: title;
    
}

#aboutSection h3 {
    margin: 20px 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Fuggles', cursive;
    font-size: 70px;
    color: var(--header-txt-colour);
    text-shadow: 0px 0px 9px var(--header-txt-shadow);
    user-select: none;
}

#aboutSection p {
    margin: 10px 0px;
    
    padding: 10px;
    margin: 5px;
    
    white-space: pre-line;

    border-radius: 3px;
    background-color: var(--text-bg-colour);
}

#whoSub {
    grid-area: sub1;
}   

#whoBlurb {
    grid-area: blurb1;
}

#kitchenIMG {
    grid-area: image1;
    justify-self: center;
    width: 100%;
    /* height: 70%; */
    object-fit: cover;

}

#whereSub {
    grid-area: sub2;
}

#whereBlurb {
    grid-area: blurb2;
}

#streetIMG {
    grid-area: image2;
    justify-self: center;
    width: 100%;
    /* height: 70%; */
    object-fit: cover;

}

#whatSub {
    grid-area: sub3;
}

#whatBlurb {
    grid-area: blurb3;
}

#tablesIMG {
    grid-area: image3;
    justify-self: center;
    width: 100%;
    /* height: ; */
    object-fit: cover;
}

/* --------MAIN:menu-------- */

#menuSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#menuSection h3 {
    margin: 20px 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Fuggles', cursive;
    font-size: 70px;
    color: var(--header-txt-colour);
    text-shadow: 0px 0px 9px var(--header-txt-shadow);
    user-select: none;
}

#menuSection p {
    margin: 10px 0px;
    
    padding: 10px;
    margin: 5px;
    
    white-space: pre-line;

    border-radius: 3px;
    background-color: var(--text-bg-colour);
}

.courseMenu {
    display: grid;
    grid-template-columns: 1fr auto;
}

.menuItemPrice {
    text-align: right;
}

#menuGallery {
    border: 1px red solid;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 1fr);
}
#menuGallery img {
    justify-self: center;
    width: 100%;
    max-height: 309px;
    object-fit: cover;
}

/* --------MAIN:booking-------- */

#bookingSection {
    display: flex;
    flex-direction: column;
}

#bookingSection h3 {
    margin: 20px 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Fuggles', cursive;
    font-size: 70px;
    color: var(--header-txt-colour);
    text-shadow: 0px 0px 9px var(--header-txt-shadow);
    user-select: none;
}

#bookingSection input {
    align-self: center;
    width: 50%;
}

/* --------FOOTER-------- */

footer {
    grid-column: 1 / -1;

    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;

    background-color: var(--footer-colour);
}